<ion-view view-title="GE Office Finder">
<!-- Favourites button -->
	<ion-nav-buttons side="right">
		<button class="button icon ion-android-star" ui-sref="Favourites">
		</button>
	</ion-nav-buttons>
	<ion-content>
	<!-- Search function starts here -->
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" id="search-criteria" placeholder="City, Country or Office Name" ng-model="query[queryBy]">
		</label>
		<!-- Search function ends here -->
		<!-- Main content starts here -->
		<!-- ng-show hides the list of offices and displays them when the user starts searching  -->
		<ion-list ng-show="query[queryBy]">
		<!-- Creates each item through collection-repeat and is filtered by the query linked to the search field -->
		<!-- ng-click opens the modal that will have the enlarged office address and the map of the office -->
			<ion-item class="item-text-wrap item-icon-right" id="output" collection-repeat="office in offices|filter:query" ng-controller="ModalCtrl" ng-click="openModal()">
				<!-- Outputs all the data from offices.json -->
				<h3 id="LocName">{{office.LocationName}}</h3>
				<p id="details">{{office.LocAddressLine1 + ", " + office.LocAddressLine2 + ", " + office.LocCity + ", " + office.LocCountryDescription + ", " + office.LocZipPostalCode}}</p>

				<!-- Creates the favourite icon on each list item, when the star is clicked the togglefav function is run -->
				<i ng-class="{'icon ion-android-star': liked, 'icon ion-android-star-outline': !liked}" ng-click="togglefav(office.id); $event.stopPropagation();"></i>
			</ion-item>
		</ion-list>
		<!-- Placeholder for the last viewed offices(25th Nov) -->
		<ion-list>
		
			<h3 class="title" id="text">Last Viewed</h3>
			<div class="instructions">
				<p>Last viewed offices will be displayed here.</p>
			</div>
	</ion-list>
	
	</ion-content>
	
	
</ion-view>