<!-- modal view for the enlarged address view and the map view -->
<ion-modal-view>
	<ion-header-bar id="modalheader">
		<h1 class="title"></h1>
<!-- button to close the modal -->
 		<button class="button icon ion-android-close" ng-click="closeModal();"></button>
	</ion-header-bar>
<ion-content class="item-icon-right item-text-wrap" id="modal">
<ion-list id="modalitem">
<ion-item>
<!-- displays the larger view of the office address -->
	<h1>{{office.LocationName}}</h1>
		<p id="mdets"><span ng-if="office.LocAddressLine1">{{office.LocAddressLine1}}</span><span ng-if="office.LocAddressLine2">, {{office.LocAddressLine2}}</span><span ng-if="office.LocCity">, {{office.LocCity}}</span><span ng-if="office.LocCountryDescription">, {{office.LocCountryDescription}}</span><span ng-if="office.LocZipPostalCode">, {{office.LocZipPostalCode}}</span></p>
		<i ng-class="{'icon ion-android-star': favicon(office.id), 'icon ion-android-star-outline': !favicon(office.id)}"  ng-click="togglefav(office.id); $event.stopPropagation();"></i>
	</ion-item>
</ion-list>
<!-- creates the map view from the json data -->
<div data-tap-disable="true" draggable="false">
	<div id="map" style="width:100%; height:380px;"></div>
</div>

</ion-content>
</ion-modal-view>