<!-- modal view for the enlarged address view and the map view -->
  <ion-modal-view>
  <ion-header-bar>
  <h1 class="title">Modal</h1>
<!-- button to close the modal -->
  <button class="button icon ion-android-close" ng-click="closeModal();"></button>
</ion-header-bar>
<ion-content class="item-icon-right" id="modal">
			<h1>{{office.LocationName}}</h1>
			<p id="mdets">{{office.LocAddressLine1 + ", " + office.LocAddressLine2 + ", " + office.LocCity + ", " + office.LocCountryDescription + ", " + office.LocZipPostalCode}}</p>
<i ng-class="{'icon ion-android-star': liked, 'icon ion-android-star-outline': !liked}"  ng-click="togglefav(office.id); $event.stopPropagation();"></i>
<hr>
<br />
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q={{office.LocAddressLine1+", "+office.LocZipPostalCode}}&key=AIzaSyCvhYppCdBRq91pOnFm_UqGLcwos26YrR8" allowfullscreen></iframe>
Map
</ion-content>

</ion-modal-view>