/* Empty. Add your own CSS if you like */
.instructions{
	text-align: center;
}
#text{
	text-align: center;
	padding-top: 10px;
}
#star{
	position: right;
}
#modal{
	padding-left: 10px;
}
#mdets{
	font-size: 18px;
}
#cont{
	padding-top: 90px;
}
#gmap {
	position: relative;
	padding-bottom: 75%; /* This is the aspect ratio */
	height: 0;
	overflow: hidden;
}
#gmap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}