/* Empty. Add your own CSS if you like */
.instructions{
	text-align: center;
}
#text{
	text-align: center;
	padding-top: 10px;
}
#star{
	position: right;
}
#modal{
	padding-left: 10px;
}
#mdets{
	font-size: 18px;
}
#cont{
    width: 100%;
    z-index: -1;
}
#map {
	width: 500px;
	height: 300px;
}
#input{
	position: fixed;
    width: 100%;
    z-index: 0;
}
#list{
	padding-top: 10px;
}