/* Empty. Add your own CSS if you like */
.instructions{
	text-align: center;
}
#text{
	text-align: center;
	padding-top: 10px;
}
#star{
	position: right;
}
#modal{
	padding-left: 10px;
}
#mdets{
	font-size: 18px;
}
#cont{
	padding-top: 90px;
}
#map {
	width: 500px;
	height: 300px;
}